html, body{
    margin: 5px !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    position: fixed;
    top: 34px;
    right: 3.3%;
}

.menu-trigger {
    background-color: rgba(25, 255, 255, 0.00);
    width: 35px;
    height: 18px;
    cursor: pointer;
    transition: all 4.0s ease;
    z-index: 5000 !important;
    border-radius: 4px;
    border-color: #000;
}

.menu-trigger:hover {
    background-color: #FFF;
}

.menu-trigger:hover .dropdown {
    top: 0px;
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 200px;
    background-repeat: repeat-x;
    background-size: cover;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1520531158340-44015069e78e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMGNpdHl8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    transition: all 0.4s ease;
    padding: 40px;
}

.navigation {
    width: 96%;
    background-color: #FFF;
    color: #000;
    font-size: 12px;    
    padding: 15px;
    height: 20px;
}

.content {
    background-color: #fff;
    padding: 40px;

}

.footer {
    background-color: #CCC;
    color: white;
    font-size: 20px;
    padding: 40px;
}

.footer p {
    margin: auto 0;
    position: relative;
}

.block{
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    display: inline-block;
    width: 32%;
    height: 150px;
    border: 5% solid transparent;
    border-radius: 2.5%;
    transition: all 0.3s ease;
    text-align:center;
    background-size: cover;
    background-repeat: space;
}

.block p {
    margin-top: 70px;
    
}

.block:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transform: scale(1.05)

}