html, body{
    margin: 5px !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    width: 96%;
    background-color: #FFF;
    color: #000;
    font-size: 12px;    
    padding: 15px;
    height: 20px;
}

.content {
    background-color: #fff;
    padding: 40px;

}

.footer {
    background-color: #CCC;
    color: white;
    font-size: 20px;
    padding: 40px;
}

.footer p {
    margin: auto 0;
    position: relative;
}

.block{
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    display: inline-block;
    width: 32%;
    height: 150px;
    border: 5% solid transparent;
    border-radius: 2.5%;
    transition: all 0.3s ease;
    text-align:center;
    background-size: cover;
    background-repeat: space;
}

.block p {
    margin-top: 70px;
    
}

.block:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transform: scale(1.05)

}