/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */


/* At the top of the file */
:root {
    /* Fonts*/
    --regular: "Arial";

    /* Colors */
    --dark-brown: #402214;
    --lighter-brown: #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --neon-green: #0f0;

    --white: #FFF;
    --black: #000;


    /* margins */
    --big-margin: 30px;
    --small-margin: 10px;

}


/* usage */

h1 {
    font-family: var(--regular);
    color: var(--darker-red);
}

h2 {
    font-family: var(--regular);
    margin: var(--big-margin);
    color: var(--neon-green);
    background-color: var(--black);
    width: fit-content;

}

p {
    margin: var(--small-margin);
    color: var(--white);
    background-color: var(--dark-brown);
    width: max-content;
}

html, body {
    margin: 0;
    padding: 0;
}

